.main-navigation{
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));

    .logo{
        border-radius: 50%;
        width:54px;
        height:54px;
    }

    .nav-link{
        font-family: 'Montserrat-SemiBold';
        font-size: 1.1rem;
        color: var(--white) !important;
        padding: 0 1rem !important;
        &:hover {
            color: var(--main-color) !important;
        }
    }

    .thumbnail-image{
        width:54px;
        height:54px;
        border-radius: 50%;
        border: 2px solid var(--main-color);
    }

    .dropdown -toggle::after{
        margin-right:1rem;
    }

    .menu-icon{
        width:20px;
        height: 24px;
        margin-top:10px;
        vertical-align: center;
        display: inline-block;
    }
    .dropdown-menu{
        background: var(--main-background);
        border: 1px solid rgba(255,255,255,0.2);

        .dropdown-item{
            font-family: 'Montserrat-Regular';
            color: var(--white) !important;
            font-size: 0.8rem;

            &:hover{
                background: transparent;
                color: var(--main-color) !important;
            }
        }
    }
}