.main-navigation{
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));

    .logo{
        border-radius: 50%;
        width:54px;
        height:54px;
    }

    .nav-link{
        font-family: 'Montserrat-SemiBold' , sans-serif;
        font-size: 1.1rem;
        color: var(--white) !important;
        padding: 0 1rem !important;
        &:hover {
            color: var(--main-color) !important;
        }
    }

    .thumbnail-image{
        width:54px;
        height:54px;
        border-radius: 50%;
        border: 2px solid var(--main-color);
    }

    .dropdown-toggle::after{
        margin-right:1rem;
    }

    .menu-search-container{
        flex-grow: 1;
        color: #fff;
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end;

        .search-icon{
            width:20px;
            height: 24px;
            transform: translateX(2rem) translateY(1rem);
            cursor: pointer;
        }

        .search-input {
            font-size: 1rem;
            font-family: 'Montserrat-Regular' , sans-serif;
            color: #fff;
            outline: none;
            width: 0;
            padding: 5px 2rem 5px 5px;
            background: var(--main-background);
            border: 1px solid #fff;
            border-radius: 10px;
            transition: width .5s;
            cursor: pointer;
            opacity: 0;

            &:focus {
                padding-left: 4rem;
                width: 22rem;
                cursor: text;
                opacity: 1;
            }
        }
    }

    .menu-notification-container{
        flex-grow: 1;
        color: #fff;
        padding-right: 5rem;
        display: flex;
        justify-content: flex-start;

        .search-icon{
            width:20px;
            height: 24px;
            transform: translateX(2.4rem) translateY(1rem);
            cursor: pointer;
        }
    }

    .dropdown-menu{
        background: var(--main-background);
        border: 1px solid rgba(255,255,255,0.2);

        .dropdown-item{
            font-family: 'Montserrat-Regular' , sans-serif;
            color: var(--white) !important;
            font-size: 0.8rem;

            &:hover{
                background: transparent;
                color: var(--main-color) !important;
            }
        }
    }
}